<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Information</title>
</head>

<body>
    <h1>Account Information Report</h1>
    <h2>User Details</h2>

    <div class="info-box">
        <ul>
            <li>
                Username: {{ username }}
            </li>
            <li>
                Email: {{ email }}
            </li>
            <li>
                First Name: {{ first_name }}
            </li>
            <li>
                Last Name: {{ last_name }}
            </li>
            <li>
                2FA Status: {{ twofa_status }}
            </li>
        </ul>
    </div>

    <h2>Device Details</h2>
    <div class="info-box">
        <ul>
            <li>
                Device ID: {{ device_id }}
            </li>
            <li>
                Device Name: {{ device_name }}
            </li>
            <li>
                Device Type: {{ device_type }}
            </li>
        </ul>
    </div>
    <p>
        This report contains your account information, you should be careful about storing, sending, or uploading it to any other
        services.
    </p>

    <p>
        Thanks,
        <br />
        Bubbles Team
    </p>

</body>
</html>