<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requested Account Information</title>
</head>

<body>
    <h1>Your account, your data</h1>
    <p> 
        We've finished creating a copy of your Bubbles account data you requested on {}. You can still download your files until {}. Inside your export you will find a html and json file that will have all your account information. Be sure to keep these files safe as they contain your personal information.
    </p>
    <button class="btn btn-primary"><a href="/link"></a></button>
    <p>
        Thanks,
        <br />
        Bubbles Team
    </p>

</body>
</html>