/*
    Global stylings
*/

:root {
    --black: #000000;
    --primary-dark: #022b3a;
    --primary-shadow: #1a6f80;
    --primary: #1f7a8c;
    --primary-light: #bfdbf7;
    --grey: #e1e5f2;
    --white: #ffffff;
}
