<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket</title>
</head>
<body style="background-color:white;">

    <h1 style="background-color:white;">Socket</h1>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Send Message">
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Send Broadcast Message">
    </form>

    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect Server">
    </form>
    <h2 style="background-color:white;">Logs</h2>
    <div id="log" ></div>
</body>
<footer>
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="module">

import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";

const namespace = '/test';
const socket = io(namespace);

function getElement(id) {
    return document.getElementById(id)
}

socket.on("connect", () => {

    socket.emit('my_event', {data: 'connected to the SocketServer...'});
})

socket.on('my_response', (msg, cb) => {
    getElement("log").innerHTML +=
    `<br><div>logs #${msg.count}: ${msg.data}</div>`;
    if (cb) cb();
});

getElement("emit").addEventListener("submit", e => {
    event.preventDefault();
    event.stopPropagation();
    socket.emit("my_event", {data: getElement("emit_data").value});
});
getElement("broadcast").addEventListener("submit", e => {
    event.preventDefault();
    event.stopPropagation();
    socket.emit("my_broadcast_event", {data: getElement("broadcast_data").value});
});
getElement("disconnect").addEventListener("submit", e => {
    event.preventDefault();
    event.stopPropagation();
    socket.emit("disconnect_request");
});

</script>
</footer>
</html>
